<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="assets/img/cerebro.png">

    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="generator" content="GitLab Pages">
    <title>Biomod</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="assets/img/biodesignerscerebro.png" style="height:110px;"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="idea.html">Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="project.html">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="material.html">Material and methods </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="results.html">Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sponsors.html">Sponsors</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="btop">
        <a href="#top"> <img src="assets/img/cerebro.png" alt="mosca"> </a>
    </div>
    <div class="container">
        <div class="head">
            <h1> Meet our Team </h1>
        </div>

        <div class="container">
            <div class="team-member">
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/1.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Valeria </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Team leader, master of lame dancing</p>
                        <p><a class="label">FUN FACT : </a>Makes too good dad jokes</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Wiki’s supervisor</p>
                        <p><a class="label">FUN FACT : </a>Biology is the only science where multiplication an división mean the same thing</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/3.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Melissa </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/2.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6>Ale</h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Secret weapon of the team</p>
                        <p><a class="label">FUN FACT : </a>Has participated in more BIOMOD Jamborees than Shawn Douglas</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Analysis Coordinator</p>
                        <p><a class="label">FUN FACT : </a>Thinks histones are the coolest proteins ever studied, like EVER</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/4.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Mario </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/5.png" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Alan </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Electrochemical assay supervisor</p>
                        <p><a class="label">FUN FACT : </a>The legend says he has done 52! Cyclic voltametries, we believe it</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Logistic's Coordinator</p>
                        <p><a class="label">FUN FACT : </a>Obsessed with dogs and E R G O N O M Y</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/6.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Ivonne</h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/Rodrigo.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Rodrigo </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Multimedia Engineer</p>
                        <p><a class="label">FUN FACT : </a>The king of microbial makeup</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Social action coordinator, loves chihuahuas</p>
                        <p><a class="label">FUN FACT : </a>The one Mexican that does not like avocado.</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/13.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Lorena </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/9.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Daniel </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Laboratory guy</p>
                        <p><a class="label">FUN FACT : </a>Bird lover and laboratory material "sponsor"</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Electrophoresis supervisor</p>
                        <p><a class="label">FUN FACT : </a>I have heard all of the “how is the weather up there” jokes.</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/12.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Paco </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
                <div class="row">
                    <!--Left --->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/10.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6>Dr. Grisel Fierros</h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Mentor</p>
                        <p><a class="label">ABOUT ME : </a>I am a director of Biotechnology program in Tecnológico de Monterrey Campus Querétaro, México.</p>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <!--Right --->

                    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2">
                        <!-- Información adicional -->
                    </div>

                    <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-7">
                        <h5> Personal Details </h5>
                        <p><a class="label">ROLE : </a>Mentor</p>
                        <p><a class="label">ABOUT ME : </a>I am the head mentor of the Biodesigners team. I am professor in the Department of Bioengineering at Tecnológico de Monterrey Campus Querétaro, México.</p>
                    </div>


                    <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 team-member-img">
                        <a href="{{member.description}}" target="_blank"><img src="assets/img/members/11.jpg" alt="{{ member.img }}" class="rounded-circle"></a>
                        <h6> Kalaumari Mayoral </h6>
                        <!-- Imagen Member y Nombre -->
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
    <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/profile.php?id=100011345214204" target="_blank" class="btn-floating btn-fb mx-1">
            <i class="fa fa-facebook"> </i>
          </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
            <i class="fa fa-twitter"> </i>
          </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
            <i class="fa fa-google-plus"> </i>
          </a>
                </li>
            </ul>
            <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>

</body>

</html>
